<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <title>
            Landing Page
        </title>
    </head>

    <body>
        <h1>Halo, apa kabar?</h1>
        <div>
            <form method="POST">
                {% csrf_token %} {{ form }}
                 <div style="margin-top: 2%">
                    <button type="submit" id="submit">Submit</button>
            </form>
        </div> 
        <div>
           {% csrf_token %}
                {% for i in isi_status %}
                <p>{{ i.status }}</p>
                <p>{{ i.waktu }}</p>
                {% endfor %} 
        </div>
     </body> 
</html>